In [2]:
tb1=input("Enter the first table ")
tb2=input("Enter the second table ")

df1=pd.read_sql(f'{tb1}',connn)
df1.dropna(how='all',axis=1,inplace=True)#axis=1 removes columns that contains null values,how='all/any' specifies whether to remove
#a column when all values are null or if any value is null
df1
df2=pd.read_sql(f'{tb2}',connn)#tb1 and tb2 are dynamically asked from user and then dynamically added to pd.read_sql using f_strings
df2.dropna(how='all',axis=1,inplace=True)
row1,colum1=df1.shape#this gives output in a way that the number of rows gets stored in row1 variable and number of columns get stored in column1 variable
row2,column2=df2.shape
lis=[]
lis1=[]
lis2=[]
for colname in df1.columns:
    
    if(df1.dtypes[colname]=='object'):
        lis.append(colname)
    elif(df1.dtypes[colname]=='int64'):
        lis1.append(colname)
    elif(df1.dtypes[colname]=='float64'):
        lis2.append(colname)
for colname in df2.columns:
    if(df2.dtypes[colname]=='object'):
        lis.append(colname)
    elif(df2.dtypes[colname]=='int64'):
        lis1.append(colname)
    elif(df2.dtypes[colname]=='float64'):
        lis2.append(colname)
    
for i in range(colum1):
    count=0
    for j in range(column2):
        if df1.dtypes[i]==df2.dtypes[j]:#here first datatypes are matched for each column of 2nd table w.r.t a given column of 1st table,and the respective columns of first table keeps on changing
            
            for z in range(row1):
                if count>=int(row1/2) and count>=int(row2/2):#if the break statement over here followed by count and break statement below followed by count are not given then the print statement will keep getting executed again and again even after the count condition has been satisfied
                    break
                for k in range(row2):
                    if df1.loc[z][i]==df2.loc[k][j]:
                        count=count+1
                        if count>=int(row1/2) and count>=int(row2/2):
                            z=count
                            print(f"This column {df1.columns[i]} of table1 and {df2.columns[j]} of table2 matches can be used for joining")
                            break
                                        
            
print("The columns with object datatype are:")
print(lis)
print("\n")
print("The columns with int64 datatype are:")
print(lis1)
print("\n")
print("The columns with float64 datatype are:")
print(lis2)

Enter the first table sales_partner
Enter the second table general_data
This column KUNN2 of table1 and KUNNR of table2 matches can be used for joining
The columns with object datatype are:
['VKORG', 'VTWEG', 'PARVW', 'KUNN2', 'KUNNR', 'BU_GROUP', 'NAMORG1', 'NAMORG2', 'NAMORG3', 'NAME_FIRST', 'NAME_LAST', 'NAME_MIDDLE', 'SORTL', 'MCOD2', 'STREET', 'POST_CODE1', 'CITY1', 'COUNTRY', 'REGION', 'TIME_ZONE', 'POST_CODE2', 'LANGU_CORR', 'TELNR_LONG', 'FAXNR_LONG', 'SMTP_ADDR', 'SMTP_ADDR_2', 'SMTP_ADDR_3', 'column119', 'column120']


The columns with int64 datatype are:
['KTOKD', 'BU_ADEXT']


The columns with float64 datatype are:
['KUNNR', 'SPART']

In [1]:

import pandas as pd
import xlrd
import pyodbc
import sqlalchemy as sql
import os
import numpy as np
connn=sql.create_engine('mssql+pyodbc://LAPTOP-B7AD4K08\SQLEXPRESS/nothing?trusted_connection=yes&driver=ODBC Driver 17 for SQL Server')

In [ ]:
tb1=input("Enter the first table ")
tb2=input("Enter the second table ")

df1=pd.read_sql(f'{tb1}',connn)
df1.dropna(how='all',axis=1,inplace=True)
df2=pd.read_sql(f'{tb2}',connn)
df2.dropna(how='all',axis=1,inplace=True)

df2